@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo/static/Aleo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-primary: #fefeff;
  --clr-secondary: #030303;
  --clr-accent: #f22929;

  --fs-normal: 16px;
  --fs-medium: 20px;
  --fs-heading: 48px;
  --fs-subheading: 32px;

  --ff-normal: "Aleo", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--ff-normal);
  font-size: var(--fs-normal);
  color: var(--clr-secondary);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0;
  border-bottom: 1px solid #f0f0f0;
}

.navbar {
  overflow: hidden;
  padding: 10px 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

header ul {
  width: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header li {
  margin: 0 15px;
}

header li > a {
  color: var(--clr-secondary);
  font-size: var(--fs-medium);
  transition: color 0.3s;
}

header li > a:hover {
  color: var(--clr-accent);
  border-bottom: 2px solid var(--clr-accent);
  transition: color 0.3s;
  transform: scale(1.1);
}

.btn-group {
  padding: 0 20px;
  margin: 0 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group > .btn-31 {
  margin: 0 5px;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #f22929;
}

/* Hero section */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: var(--clr-accent); */
  color: var(--clr-secondary);
  text-align: center;
}

.hero-content {
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  color: var(--clr-secondary);
}

.hero-content h1 {
  font-size: 72px;
  margin-bottom: 20px;
  text-align: left;
}

.hero-content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  font-size: 20px;
}

.hero-image {
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Second Section */

.second-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-accent); */
  color: var(--clr-secondary);
  text-align: center;
  flex-direction: row-reverse;
}

.second-section-content {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  color: var(--clr-secondary);
}

.second-section-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.second-section-content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  font-size: 20px;
}

.second-section-image {
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Third Section */

.third-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-accent); */
  color: var(--clr-secondary);
  text-align: center;
}

.third-section-content {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  color: var(--clr-secondary);
}

.third-section-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.third-section-content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  font-size: 20px;
}

.third-section-image {
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fourth Section */

.fourth-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-accent); */
  color: var(--clr-secondary);
  text-align: center;
  flex-direction: row-reverse;
}

.fourth-section-content {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  color: var(--clr-secondary);
}

.fourth-section-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.fourth-section-content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  font-size: 20px;
}

.fourth-section-image {
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Seventh Section */

.seventh-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-accent); */
  color: var(--clr-secondary);
  text-align: center;
}

.seventh-section-content {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  color: var(--clr-secondary);
}

.seventh-section-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: left;
}

.seventh-section-content p {
  line-height: 1.5rem;
  margin-bottom: 30px;
  font-size: 20px;
}

.seventh-section-image {
  width: 512px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  border-top: 1px solid #f0f0f0;
  padding: 100px 0;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 100px;
  flex-direction: column;
}

.footer-social {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.footer-social a {
  margin: 0 10px;
  color: var(--clr-secondary);
  font-size: 24px;
}

.footer-social a:hover {
  color: var(--clr-secondary);
  transition: color 0.3s;
}

.footer-contact {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 100px;
  flex-direction: column;
}

@media screen and (max-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 500px;
    /* left: 350px; */
    width: 100%;
    height: 100px;
    background-color: var(--clr-accent);
  }

  .nav-list {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 500px;
    /* padding: 50px 0; */
    background-color: var(--clr-accent);
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 0;
    text-align: center;
  }

  .nav-list li a {
    color: #fefeff;
  }

  .menu-icon {
    display: block;
  }

  /* Main */
  /* Hero section */

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
  }

  .hero-content {
    width: 100%;
    height: 100vh;
    padding: 20px;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
    /* text-align: center; */
  }

  .hero-content p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
    
  }

  .hero-image img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }

  /* Second Section */

  .second-section {
    flex-direction: column-reverse;
  }

  .second-section-content {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .second-section-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .second-section-content p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .second-section-image img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }

  /* Third Section */

  .third-section {
    flex-direction: column-reverse;
  }

  .third-section-content {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .third-section-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .third-section-content p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .third-section-image img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }

  /* Fourth Section */

  .fourth-section {
    flex-direction: column-reverse;
  }

  .fourth-section-content {
    width: 100%;
    height: 100dvh;
    padding: 20px;
  }

  .fourth-section-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .fourth-section-content p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .fourth-section-image img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }

  /* Seventh Section */

  .seventh-section {
    flex-direction: column-reverse;
  }

  .seventh-section-content {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .seventh-section-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .seventh-section-content p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .seventh-section-image img {
    width: 300px;
    height: 300px;
    margin-bottom: 0px;
  }

  /* Footer */

  footer {
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    flex-direction: column;
  }

  .footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
  }

  .footer-social a {
    margin: 0 10px;
    color: var(--clr-secondary);
    font-size: 24px;
  }

  .footer-social a:hover {
    color: var(--clr-secondary);
    transition: color 0.3s;
  }

  .footer-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    flex-direction: column;
  }

  .footer-contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .footer-contact p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .footer-contact a {
    color: var(--clr-secondary);
    font-size: 24px;
  }

  .footer-contact a:hover {
    color: var(--clr-secondary);
    transition: color 0.3s;
  }

  .footer-contact p {
    line-height: 1.5rem;
    margin-bottom: 30px;
    font-size: 20px;}
}
